/* Begin: Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

/* End: Reset */

body {
  min-width: 320px;
}

html {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box /* not inherited by default */
}
*, *:before, *:after {
	-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit /* apply desired box model to all but allowing local change */
}

button {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.content {
  padding-bottom: 1.5rem;
}

.js .current button {
  color: #00e;
}

.js .list-control {
  padding: 1rem 10px 1.5rem;
  margin: 1rem auto 1.5rem;
  max-width: 800px;
}

.js .nav-item,
.js .nav-section {
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
}

.js .nav-item li,
.js .nav-section li {
  flex: auto;
}

@media only screen and (min-width: 480px) {
  .js .content {
    grid-column: 2;
    grid-row: 2;
    padding-left: 15px;
    padding-right: 15px;
  }

  .js .list-control {
    display: grid;
    grid-template-columns: 17% 1fr;
  }

  .js .nav-item {
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
  }

  .js .nav-item li {
    margin-bottom: .5rem;
  }

  .js .nav-section {
    justify-content: space-evenly;
    grid-column: 2;
    grid-row: 1;
  }

  .js .nav-item li,
  .js .nav-section li {
    flex: initial;
  }
}
